* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple: #8120C9;
  --blue: #2C9ECF;
  --gradient: linear-gradient(90deg, var(--blue), 50%, var(--purple));
}

body {
  min-width: 100%;
  min-height: 100vh;
  background: lightgray;
  background-color: #ebebeb;
}

form {
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.form-group {
  width: 100%;
  margin-bottom: 16px;
}

.form-group label {
  color: var(--blue);
  font-weight: bold;
  width: 100%;
}

.form-group input {
  height: 35px;
  width: 100%;
  margin-top: 4px;
  padding: 0px 16px;
  border: 1px solid lightblue;
}

h3 {
  width: 100%;
  display: block;
  text-align: center;
  margin: 24px 0px;
}

input[type=submit] {
  height: 35px;
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.content {
  min-height: calc(100vh - 120px);
}

/* HEADER */
nav, footer {
  width: 100%;
  height: 60px;
  background-image: var(--gradient);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 24px;
}

nav .brand  {
  font-size: 20px;
}

footer {
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer img {
  width: 30px;
  color: white;
}

footer img:hover {
  transform: scale(1.3);
  transition: 1s;
}

.feedback {
  color: red;
  font-size: 12px;
}